checkpoints/t5-sl-small-finetuned-MaCoCu-2M(all)-bleu-smallest/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
dataset/MaCoCu-dataset-(all)2M+-filtered-with-ids.csv filter=lfs diff=lfs merge=lfs -text
